[Unit]
Description=CSYE 6225 App
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/new/app
ExecStart= /usr/bin/node /new/app/index.js
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225
EnvironmentFile=/new/app/.env

[Install]
WantedBy=multi-user.target